#tool-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#meme-div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: white;
    padding: 24px;
    border: 1px solid rgba(0, 0, 0, 0.396);
    box-shadow: 1px 1px 8px black;
}

.button {
    width: 200px;
    padding: 18px;
    border-radius: 24px;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 1px 1px 2px black;
    margin-top: 32px;
    font-weight: 700;
    font-size: 1.6rem;
}

#generate-meme-button:hover {
    background-color: rgb(236, 236, 236);
}

#no-one {
    width: 100%;
    background-color: white;
    height: fit-content;
    padding-left: 16px;
    color: black;
}

#top-phrase {
    background-color: black;
}

#buttons-wrapper {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


@media only screen and (max-width: 600px) {
    #meme-div {
        width: 355px;
        height: 355px;
    }

    #no-one {
        padding-left: 0.8rem;
        font-size: 2.4rem;
    }

    #top-phrase {
        font-size: 2.4rem;
    }

    #buttons-wrapper {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
}